form h1 {
    color: red;
    text-transform: uppercase;
    font-size: 1em;
}
.MuiGrid-container-3 {
    text-align: center;
}
.logo_principal {
    width: 30%;
    min-width: 220px;
    margin-top: 100px;
}
.login {
    text-align: center;
    margin: 0 auto;
    width: 300px;
}
img {
    width: 40%;
    min-width: 220px;
}
.MuiGrid-item-3 {
    text-align: center
}
fieldset {
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #f2f2f2;
}
fieldset legend {
    text-transform: uppercase;
    font-weight: bold;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    width: 100%;
    background-color: orangered;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1s;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit]:hover {
    background-color: #000;
  }
  ul li {
      display: inline;
      padding: 10px;
  }
  ul {
      display: inline-block;
  }
  .avatar {
      min-width: 40px;
      max-width: 60px;;
  }
  .MuiFab-secondary-118{
      background-color: #000;
  }
  .Cadastro-toolbar-104{
    background-color: #000;
    }

    .MuiDialog-paperScrollPaper-213 {
      text-align: center;
    }
    .enviar-esquerda{
       width: 20%;
       max-width: 20px;
       min-width: 100px;
       float: left;
       margin: 0 auto;
    }
    .enviar-esquerda img {
        width: 20%;
        max-width: 50px;
        min-width: 50px;
    }
    .enviar-direita {
        float: left;
        width: 70%;
        padding-left: 25px;
    }
    .MuiListItem-button-142 {
        width: 280px!important;
    }
    .MuiListItem-gutters-141 {
        width: 280px!important;

    }
    .MuiListItem-button-240 {
        width: 280px!important;

    }
    .MuiListItem-gutters-239 {
        width: 280px!important;

    }
    .Cadastro-inputRoot-10 input {
        margin: 0;
    }